#app {
  width: 100%;
  height: 100dvh;
}

:root {
  --size: 6px;
  --font-family-title: sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.overflow-y {
  overflow-y: auto;
}

.p1 {
  padding: calc(var(--size) * 1);
}

.p2 {
  padding: calc(var(--size) * 2);
}

.p3 {
  padding: calc(var(--size) * 3);
}

.p4 {
  padding: calc(var(--size) * 4);
}

.g1 {
  gap: calc(var(--size) * 1);
}

.g2 {
  gap: calc(var(--size) * 2);
}

.g3 {
  gap: calc(var(--size) * 3);
}

.g4 {
  gap: calc(var(--size) * 4);
}

.title-small {
  font-family: var(--font-family-title);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

.flex-middle {
  justify-content: center;
  align-items: center;
  display: flex;
}
